certifi==2020.6.20
cycler==0.10.0
decorator==4.4.2
kiwisolver==1.2.0
matplotlib==3.3.2
networkx==2.5
numpy==1.19.2
Pillow==8.0.1
-e git+git@github.com:simonlichtinger/pkmodel_group7@60ffa3224ecff5fe6d29c09e31c7e301314540b7#egg=pkmodel_group7
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.5.3
six==1.15.0
